# Vivado project files to ignore
*.jou
*.log
*.str
*.rpx
*.xpr
*.xpr.lock

# Vivado generated folders
*.cache/
*.hw/
*.ip_user_files/
*.sim/
*.runs/
*.gen/
*.srcs/
*.data/
*.webtalk/
*.dcp

# Incremental builds, checkpoints
*.ltx
*.bit
*.bin
*.mmi
*.svf

# Temporary files
*.tmp
*.bak
*.swp
*~

# OS junk
.DS_Store
Thumbs.db
